<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Revisão de Programação IV</title>
</head>
<body>
    <h1>Formulário de Veículos</h1>
    <hr>
    <form action="/processarveiculos" method="post">
        <label for="placa">Placa</label>
        <input type="text" name="placa" id="placa" size="10"><br><br>

        <label for="modelo">Modelo</label>
        <input type="text" name="modelo" id="modelo" size="30"><br><br>

        <label for="marca">Marca</label>
        <input type="text" name="marca" id="marca" size="30"><br><br>

        <label for="ano">Ano</label>
        <input type="number" name="ano" id="ano" size="10"><br><br>

        <input type="submit" value="Salvar">
        <input type="reset" value="Limpar">
    </form>
</body>
</html>